  .bg-celeste-agua {
      background-color: #d9eeb8;
  }

  .bg-verde-agua {
      background-color: #3af8b9;
      /* verde agua (aquamarine) */
  }

  .bg-verde-esmeralda{
        background-color: #50c878;
        /* verde esmeralda (emerald) */
  }